<% include ../partials/header %>
<h2>Are <em>absolutely</em> sure you want to delete your Profile?</h2>

<form action="/volunteers/<%=volunteer._id%>?_method=DELETE" method="POST">
	<button class="btn btn-danger">I said delete!</button>
</form>	

<% include ../partials/footer %>